.body {
  width: calc(100% - 14.5625rem - 2*2rem);
  height: 90vh;
  margin-left: 14.5625rem ;
  z-index: 0;
  position: relative;
  top: 4rem;
  transition: all 0.5s ease;
  background-color: var(--gray-700);
  padding: 2rem;
}
.body-md-screen{
  width: calc(100% - 5rem - 2*2rem);
  margin-left: 5rem;
}
.body-collapsed{
  width: calc(100% - 5rem - 2*2rem);
  margin-left: 5rem;
}
