<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img src="assets/images/MS_logo.png" alt="logo" class="logo-img" >
    </button>
    <div class="logo-text" @fadeInOut *ngIf="!collapsed">Max St.</div>
  </div>
  <ul class="sidenav-nav">
    @for (element of navData; track element.label){
      <li class="sidenav-nav-item">
        <a href=" " class="sidenav-nav-link" [routerLink]="element.routelink"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon" [class]="element.icon" ></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">{{element.label}}</span>
        </a>
      </li>
    } @empty {
      <p>TESTING</p>
    }

  </ul>
</div>
