.sidenav{
  background: var(--gray-800);
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 14.5625rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 var(--gray-900);
  .logo-container{
    display: flex;
    align-items: center;
    padding: 0.2rem 0.938rem 0 0.938rem;
    .logo{
      background: var(--gray-400);
      color: var(--gray-900);
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 2rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
      box-shadow:  inset 0 0 0.5rem 0.1rem var(--gray-900);
      .logo-img{
        width: 100%;
        height: 100%;

      }
    }
    .logo-text{
      margin-left: 0.5rem;
      font-size: 24px;
      font-weight: 700;
      color: white;
      overflow: hidden;
      white-space: nowrap;
    }
    .btn-close{
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times{
        color: white;
        font-size: 24px;
      }

    }
  }
}

.sidenav-collapsed{
  width: 5rem;
}
.sidenav-nav{
  list-style: none;
  padding: 0.938rem 0.938rem 0 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4.65rem);
  .sidenav-nav-item{
    width: 100%;
    padding-bottom: 0.5rem;
    .sidenav-nav-link{
      display: flex;
      align-items: center;
      height: 3rem;
      color: white;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;
      .sidenav-link-icon{
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }
      .sidenav-link-text{
        margin-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
      }
    }

  }
  .sidenav-nav-item:nth-last-child(2) {
    margin-top: auto;

  }
  .sidenav-nav-item:hover{
    .sidenav-nav-link{
      background-color: var(--gray-400);
      color: var(--gray-900);
    }
  }
}
.active{
  .sidenav-nav-link{
    background-color: var(--gray-400);
    color: var(--gray-900);
  }
}
.active{
  background-color: white;
  .sidenav-link-icon,
  .sidenav-link-text{
    color: var(--gray-900);
  }
}
